html {
    /* Needed to fix footer */
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 75px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px;
    /*background-color: #051c69;*/
    background-color: #6C8CF7;
    background-image: url(images/tartan.png);
    position: relative;
}

figcaption {
    text-align: center;
    text-decoration: none;
    color: #051C69;
}

figcaption a:link {
    font-weight: bolder;
    color: #051C69;
}

figcaption a:visited {
    text-decoration: none;
    /*color: #6C8CF7;*/
}

figcaption a:hover {
    text-decoration: none;
    color: black;
}

.navbar-inverse {
    background-color: #051C69;
}

.navbar-inverse .navbar-brand {
    color: #6C8CF7;
}

.navbar-inverse .btn {
    color: #6C8CF7;
}

button {
    border-color: #FFFFFF;
    border-width: thick;
}

img {
    border-radius: 5px;
}

main {
    background-color: #59F5F5;
    color: black;
    padding-bottom: 20px;
    border-radius: 6px;
    margin-bottom: 70px;
}

main li {
    margin-top: 10px;
}

ul li {
    list-style-type: none;
}

.row {
    margin-bottom: 15px;
}

h5 {
    font-size: 1.2em;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #051C69;
    color: #6C8CF7;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer a:link {
    color: #FFFFFF;
    text-decoration: none;
}

footer a:visited {
    color: #6C8CF7;
}

footer a:hover {
    color: #FFCD5D;
}

footer div {
    display: inline-block;
    width: 33%;
}

.onlyDesktop {
    display: none;
}

.floatPic {
    float: left;
}

.clearFloat {
    clear: left;
}

.onlyDesktopBlock {
    display: none;
}

.onlyDesktopInlBlock {
    display: none;
}

.widChg45 {
    width: 40%;
    margin: 0;
    padding: 0;
}

.widChg10 {
    width: 10%;
}

footer {
    width: 100%;
}

.onlyTablet {
    display: none;
}

.leftMarginTablet {
    margin-left: 0;
}


/* Tablet View Below*/

@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        margin-bottom: 100px;
    }
    main {
        margin-top: 25px;
        padding-top: 10px;
    }
    main li {
        margin-top: 20px;
    }
    main h5 {
        margin-top: 0;
        margin-bottom: 0;
    }
    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .onlyTablet {
        display: inline-block;
    }
    .leftMarginTablet {
        margin-left: 160px;
    }
    onlyDesktopBlock {
        display: none;
    }
}


/*Desktop View Below*/

@media only screen and (min-width: 992px) {
    .notDesktop {
        display: none;
    }
    header {
        text-align: center;
        margin-top: 17px;
        margin-bottom: 50px;
    }
    body {
        margin-bottom: 100px;
    }
    h4 {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    main li {
        margin-top: 30px;
    }
    main h5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .onlyDesktopBlock {
        display: block;
    }
    .onlyDesktopInlBlock {
        display: inline-block;
    }
    .onlyTablet {
        display: none;
    }
}