body {background-color: #7c498d;
    background-image: linear-gradient(to bottom, #FFFFFF, #7c498d);
    background-repeat: no-repeat;
color: #666666;
font-family: Arial, Helvetica, sans-serif;}
header, main, nav, footer{display: block}
header {background-color: #9c73a9;
color: #5f2871;
padding-top:15px;
height: 60px}
nav { transition: background-color 3s ease;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
font-weight: bold;
text-decoration: none;
float: center;
width: 160px;}
h1 {font-family: Georgia, "Times New Roman", serif;
margin-top:inherit}
h2 { color: #337c498d;
font-family:  Georgia, "Times New Roman", serif;
text-shadow: 1px 1px 1px #CCCCCC}
h3 {color: #000033;
    font-family:  Georgia, "Times New Roman", serif; }
footer {font-family:  Georgia, "Times New Roman", serif;
    font-size: 75%;
font-style: italic;
    padding: 20px;
text-align: center;
margin-left: 190px;
background-color: #FFFFFF;}
.wrapper { margin: auto;
    width: 80%;
background-color: #441154;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #333333;
}
main {background-color: #FFFFFF;
    margin-left: 190px;
    padding-bottom: 20px ;
padding-top: 1px ;
padding-left: 30px;
padding-right: 20px;
display: block;}

nav ul {list-style-type: none;
font-size: 1.2em;}
nav a:link {color: #000033}
nav a:visited {color: #344873}
nav a:hover { color: #FFFFFF}
@media only screen and (max-width: 64em) {
    body { margin: 0;
    background-color: #FFFFFF;}
    .wrapper {min-width: 0;
    width: auto;
    box-shadow: none;}
    main {margin-left: inherit;}
    nav {float: none;
    width: auto;
    text-align: center;
    padding: 0.5em;}
    .homehero, .yurthero, .trailhero {  margin-left: 0;
    height: 200px;}
    footer {margin-left: 0;}
}
@media only screen and (max-width: 37.5em) {
    header {padding-top: 1em;}
    main {padding-top: 0.1em;
    padding-bottom:  0.1em;
    padding-right: 1em;
    font-size: 90%;}
    h1 {font-size: 1.5em;
}
    nav {padding: 0;
    display: block;}
   
    mobile id { display: inline;}
    deasktop id {display: inline;}
    
}
table {margin: auto;
border: 1px solid #3399cc;
width: 80%;
border-spacing: 0;}
td, th {padding: 5px;
border: 1px solid #3399cc;}
td {text-align: center;}
.text {text-align: left;}
tr:nth-of-type(odd) {background-color: #f5fafc;}
label {float: left; display: block; text-align: right; width:120px; padding-right: 0.1em;}
input, textarea {display: block; margin-bottom: 20px;}
submit {margin-left: 130px;}
video, embed {float: right; padding-left: 20px;}